<%- include("header") -%>

<h2>This is about page.</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nesciunt placeat eos aliquid libero quisquam assumenda maiores culpa, velit modi voluptatum sunt! Unde aperiam iusto culpa deleniti praesentium eveniet quaerat voluptas ex nesciunt voluptate, non, accusantium aut explicabo cum in magnam? Rem, alias quisquam. Quos illo sint ex aspernatur deserunt.</p>

<%- include("footer") -%>